# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.so
*.a
*.slc
*.pyc

# Node.js
node_modules/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# OS
.DS_Store
Thumbs.db
